@using JinnHouse.Entities.Enums.Enums
@model JinnHouse.Entities.Interfaces.Interfaces.Fan.IFanDevice
@if (Model != null)
{
    <div class="row widget widget-body">
        <a href="/Fan/SpeedDown/@Model.Name/@ViewContext.RouteData.Values["action"]/@ViewContext.RouteData.Values["controller"]">
            <img src="~/Content/icons/fanspeed/24px-down-arrow.png" class="range-control" />
        </a>
        @if (Model.IsOn)
        {
            switch (Model.FanSystem.FanSpeed)
            {
                case FanSpeed.Slow:
                    <img src="~/Content/icons/fanspeed/fan-slow.gif" />
                    break;
                case FanSpeed.Medium:
                    <img src="~/Content/icons/fanspeed/fan-medium.gif" />
                    break;
                case FanSpeed.Fast:
                    <img src="~/Content/icons/fanspeed/fan-fast.gif" />
                    break;
            }
        }
        else
        {
            <img src="~/Content/icons/fanspeed/64px-fan-off.png" />
        }
        <a href="/Fan/SpeedUp/@Model.Name/@ViewContext.RouteData.Values["action"]/@ViewContext.RouteData.Values["controller"]">
            <img src="~/Content/icons/fanspeed/24px-up-arrow.png" class="range-control" />
        </a>
    </div>
}

