@model JinnHouse.Entities.Interfaces.Interfaces.Audio.IMusicDevice
@if (Model != null)
{
    <div class="row widget widget-body">
        <a href="/Song/PreviousSong/@Model.Name/@ViewContext.RouteData.Values["action"]/@ViewContext.RouteData.Values["controller"]">
            <img src="~/Content/icons/tv/24px-prev-chanel.png" class="range-control" />
        </a>
        <span class="widget-text-tv">@Model.MusicSystem.CurrentSong</span>
        <a href="/Song/NextSong/@Model.Name/@ViewContext.RouteData.Values["action"]/@ViewContext.RouteData.Values["controller"]">
            <img src="~/Content/icons/tv/24px-next-chanel.png" class="range-control" />
        </a>
    </div>
}


